<!DOCTYPE>

<html>
<head>
  <title>Hi!</title>
</head>

<body>
  <h1> Welcome to 99cats</h1>
  <a href = "http://localhost:3000/cats">Click here to go home</a>

  <a href = "http://localhost:3000/session/logout">Logout</a>
</body>
</html>