<!DOCTYPE>

<html>
<head>
  <title>Your new cat request has been made!</title>
</head>

<body>
  <h1>
    Your request will be considered. You may have a cat arriving on <%=@cat_request.begin_date%>!      Or not.  </h1>
  <h2>Remember to check your mail!</h2>
  <a href = "http://localhost:3000/cats">Click here to go home</a>
  <a href = "http://localhost:3000/session/logout">Logout</a>
</body>
</html>