<!DOCTYPE>

<html>
<head>
  <title>Your new cat has been made!</title>
</head>

<body>
  <h1> Your new cat has been created! </h1>
  <a href = "http://localhost:3000/cats">Click here to go home</a>
  <a href = "http://localhost:3000/session/logout">Logout</a>
</body>
</html>