<!DOCTYPE>

<html>
<head>
  <title>Cat Destroying Page</title>
</head>

<body>
  <h1>You have killed a cat.
    <%=<% @cat.sex == "male" ? "His": "Her"%>%>
    name was <%= @cat.name%>
  </h1>
</body>
</html>